<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="mb-4">Sand Blasting Quote Calculator</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <%= form_tag '#', onSubmit: "return false", id: 'sand-blasting-calculator-form' do %>
        <div class="row mb-3">
          <div class="col-sm-6">
            <%= label_tag 'Labor Hours' %>
            <%= text_field_tag :labor_hours, nil, placeholder: 'Estimated # of hours', class: 'form-control', data: { rate: 100 } %>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6 text-center mb-4">
            <label for="margin">Pricing Scale</label><br>
            <input
              type="integer"
              name="margin"
              data-provide="slider"
              data-slider-ticks="[0, 1, 2, 3, 4]"
              data-slider-ticks-labels='["A", "B", "C", "R", "F"]'
              data-slider-min="0"
              data-slider-max="4"
              data-slider-step="1"
              data-slider-value="0"
              data-slider-tooltip="hide"
            >
          </div>
        </div>
      <% end %>
    </div> <!-- /.col-sm-8 -->
    <div class="col-sm-4">
      <table class="table tabl-bordered">
        <thead>
          <tr>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <td id="total">$<span>0.00</span></td>
        </tbody>
      </table>
    </div>
  </div>
</div>
