<div class="coatings">
  <div class="quality hidden-sm-down">
    <div>QUALITY COATINGS</div>
  </div>
  <div class="quality-mobile hidden-md-up">
    <div>QUALITY COATINGS</div>
  </div>
  <div class="manufacturers row">
    <div class="col-md-6 text-center mb-5">
      <%= link_to "https://www.tcipowder.com/", target: "_blank" do %>
        <%= image_tag 'tci.png', width: '50%' %>
      <% end %>
    </div>
    <div class="col-md-6 text-center">
      <%= link_to "http://www.prismaticpowders.com/", target: "_blank" do %>
        <%= image_tag 'prismatic.png', width: '50%' %>
      <% end %>
    </div>
  </div>
</div>
