<div class="main">
  <%= image_tag 'stock.png', width:'100%' %>
</div>
<div class="main-details">
  CONSUMER &bull; COMMERCIAL &bull; INDUSTRIAL
</div>
<div class="coatings">
  <div class="quality">
    QUALITY COATINGS
  </div>
  <div class="manufacturers row">
    <div class="col-md-4 text-center">
      <%= image_tag 'tci.png', width: '50%' %>
    </div>
    <div class="col-md-4 text-center">
      <%= image_tag 'akzo.png', width: '50%'%>
    </div>
    <div class="col-md-4 text-center">
      <%= image_tag 'prismatic.png', width: '50%' %>
    </div>
</div>
</div>
