.powders
  .quality.d-none.d-md-block
    %div ORDER POWDER
  .quality-mobile.d-md-none.d-lg-none
    %div ORDER POWDER
  .container.mt-5
    .row
      .col-12.mb-4
        %h2.text-center.mb-3 Powder By The Pound
        %p.text-center.mb-5
          Are you looking to buy powder, but don't want large quantities?
          We have a number of popular colors in stock, ready to ship.
          = succeed "Interested?" do
            %br/
          %a{:href => "tel:+16143005025"} 614-300-5025
          or email
          %a{:href => "mailto:contact@columbuspowdercoat.com"} contact@columbuspowdercoat.com
        %p.text-center.mb-2
          %a.btn.btn-rfq.d-block.d-md-inline{:href => "https://s3.us-east-2.amazonaws.com/cpcwebsitedocs/Powder+Resell+program61917.pdf", :target => "_blank"} AVAILABLE MATERIAL
    .row
      .col-12.text-center
        %h2
          More questions? Call
          %a{:href => "tel:+16143005025"} 614-300-5025
