<div class="powders">
  <div class="quality hidden-sm-down">
    <div>ORDER POWDER</div>
  </div>
  <div class="quality-mobile hidden-md-up">
    <div>ORDER POWDER</div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 mb-4">
        <h2 class="text-center mb-3">Powder By The Pound</h2>
        <p>
          Are you looking to buy powder, but don't want large quantities?
          We have a number of popular colors in stock, ready to ship. <strong>Interested?
          Call, 614-300-5025 or email contact@columbuspowdercoat.com</strong>
        </p>
      </div>
      <div class="col-md-6 mb-4">
        <h2 class="text-center mb-3">Color Matching</h2>
        <p>
          Do you have a custom color you're looking to use for a project? We will
          work directly with the manufacturer to see that you get the color you want.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <h2>More questions? Call 614-300-5025</h2>
      </div>
    </div>
  </div>
</div>
