<div class="services">
  <div class="quality d-none d-md-block">
    <div>SERVICES</div>
  </div>
  <div class="quality-mobile d-md-none d-lg-none">
    <div>SERVICES</div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-4 mb-4">
        <h2 class="text-center mb-3">Powder Coating</h2>
        <p>
          Are you looking to add a nice finish to your project? We coat just about
          everything that's made of metal. Whether it's a small project or a large
          industrial run, our team will work with you to meet your needs.
        </p>
        <p>
          <strong>We offer a full selection of colors and can handle custom colors and color matching.</strong>
        </p>
      </div>
      <div class="col-md-4 mb-4">
        <h2 class="text-center mb-3">Refinishing</h2>
        <p>
          We specialize in working with clients to complete their restoration projects.
          Are you restoring an antique, a hot rod, your favorite set of patio furniture?
          We've worked on projects of all shape and size and we love nothing more than
          making something look brand new.
        </p>
        <p>
          <strong>Call us at <a href="tel:+16143005025">614-300-5025</a> to discuss your project.</strong>
        </p>
      </div>
      <div class="col-md-4 mb-4">
        <h2 class="text-center mb-3">Sandblasting</h2>
        <p>
          Our facility can handle large and small-scale sandblasting jobs. Need something done on-site?
          We can bring the sandblasting to you!
        </p>
        <p>
          <strong>Have more questions about sandblasting? Call us at <a href="tel:+16143005025">614-300-5025</a></strong>
        </p>
      </div>
    </div>
  </div>
</div>
