<div class="container mt-3">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h1 class="mb-0 d-inline">Work Order Workflow</h1>
          <h2 class="mb-0 mt-1 d-inline float-right"><%= Date.today.strftime('%A, %B %e') %></h2>
        </div>
        <div class="card-body">
          <%= render 'work_orders/workflow_channels' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container user_dashboard">
  <div class="row mt-4">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h1 class="mb-0">Outstanding Work Orders</h1>
        </div>
        <div class="card-body">
          <% if @outstanding_work_orders.any? %>
            <%= render 'work_orders/outstanding_work_orders', outstanding_work_orders: @outstanding_work_orders.uniq %>
          <% else %>
            <p>No Outstanding work orders.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div><!-- /.row -->
</div><!-- /.container -->
