<div style="text-align:center;">
  <p>
    <%= link_to image_tag("cpc.png"), root_path ,class: "hide-for-small" %>
  </p>
  <br />
  <br />
  <p>
    <%= link_to "Contact Us", contact_path, class: "large button" %>
  </p>

  <h1>"Faster turnaround, guaranteed."</h1>
</div>