<div class = "home">
  <div class="container">
    <center>
      <p>
        <%= link_to image_tag("cpc.png"), root_path ,class: "hide-for-small" %>
      </p>
      <br />
      <br />
      <p>
        <%= link_to "Go ahead, push it.", contact_path, class: "large button" %>
      </p>
    </center>


      <h1> <p class = "text-center">"Faster turnaround, guaranteed."</p></h1>
  </div>
</div>


