<div style="margin-top:60px;" class="container">
  <div class="row">
    <div class="col-sm-12">
      <% if params[:request_type] == "quote" %>
        <h1>Thank you!</h1>
        <p>
          Thanks for submitting your quote request. One of our associates will contact you within a business day.
        </p>
      <% end %>
    </div>
  </div>
</div>
