<% resource.notes.where.not(created_at: nil).order(created_at: :desc).each do |note| %>
  <div class="card mb-2">
    <div class="card-body bg-light">
      <%= note.content  %>
    </div>
    <div class="card-footer">
      <span class="pull-left"><%= note.user.full_name %></span>
      <span class="pull-right"><%= note.created_at.strftime('%A, %b %d') %></span>
    </div>
  </div>
<% end %>
