<div class="card">
  <div class="card-header">
    <h2 class="mb-0">Contacts</h2>
  </div>
  <div class="card-body">
    <ul style="list-style-type: none;" class="pl-2">
      <li class="mb-3">
        <strong>Primary Contact:</strong>
        <%= "#{link_to customer.primary_contact.try(:full_name), customer.primary_contact, target: '_blank'} (#{customer.primary_contact.title})".html_safe if customer.primary_contact %>
      </li>
      <hr>
      <div class="mb-2">
        <h5 class="d-inline mb-2">Additional Contacts</h5> <small><%= link_to "add", new_customer_contact_path(customer.id) %></small>
      </div>
      <% customer.contacts.each do |contact| %>
        <% next if contact.is_primary? %>
        <li>
          <%= link_to contact.full_name, contact %><%= "(#{contact.title})" if contact.title %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
