.container
  .row
    .col
      %h1 New Customer
  .row.mt-3.mb-4
    .col-12
      .alert.alert-success.text-center
        %strong This is company specific information only.
        You can add a contact person after you create this customer.
  = render 'form'
