<div class="container">
  <div class="row">
    <div class="col">
      <h1>New Customer</h1>
    </div>
  </div>
  <div class="row mt-3 mb-4">
    <div class="col-12">
      <div class="alert alert-success text-center">
        <strong>This is company specific information only.</strong> You can add a contact person after you create this customer.
      </div>
    </div>
  </div>

  <%= render 'form' %>
</div>
