<div class="page-wrapper">
  <%= render 'pages/page_header' %>

  <div class="container">
    <p>
      Columbus Powder Coat is an industrial services company located in the downtown metro area of Columbus, Ohio. Our specialization is in powder coating applications for small custom projects to large volume production runs. While we love to see a beautifully finished part, our services don’t end there! Please hop over to  www.columbuspowdercoat.com/services to see our complementary capabilities.
    </p>
    <p>
      Our founders operating philosophies are rooted in organization and communication. We believe, through the focus of these two principals, Columbus Powder Coat is able to provide an experience for our customers that is genuine, transparent and on time.
    </p>
    <p>
      Columbus Powder Coat was specifically founded with the goal to employ people in the Columbus area. We firmly believe the best service we can offer to our community is the opportunity for others to work. While we maintain a family oriented shop atmosphere, our company expects the best work from all of our associates at all times. Our team is constantly challenged to learn, improve and experience. By doing so we hope to enrich the lives of our people and the Columbus community.
    </p>
    <p>
      <strong>
        We are here to help. If you have a project, a question or simply just want to know more about us and our industry served please don’t hesitate to connect with us. We are happy to assist in any way we can.
      </strong>
    </p>
  </div>
</div>
