<div class="page-wrapper">
  <%= render 'pages/page_header' %>

  <div class="container">
    <p>
      Interested in joining the Columbus Powder Coat team? We seek talented and driven individuals to join our company. Our workplace puts an emphasis on daily learning, professional growth and achievement through teamwork.
    </p>
    <p>
      Our founders operating philosophies are rooted in organization and communication. We believe, through the focus of these two principals, Columbus Powder Coat is able to provide an experience for our customers that is genuine, transparent and on time.
    </p>
    <p>
      <a href="#">Click here to see some of our current position openings.</a> Click here to see some of our current position openings. If we aren’t currently hiring, don’t fret! Please contact us, send a resume or work history and experience document. We’d love to know more about you to see if we’re able to help!
    </p>
  </div>
</div>
