<%= render 'pages/page_header' %>

<div class="container">
  <p>
    Columbus Powder Coat was founded on the basis that service always wins. In combination with great finishes we also provide high quality service.  We can guarantee that your experience will be like none other.
  </p>

  <p>
    If you have any question don't hesitate to contact us. We're passionate about what we do and would be happy to address any questions, concerns, or comments.
  </p>
  <p>Thanks.</p>
</div>
