<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h1>New color</h1>
      <p class="text-danger">
        This is only for adding base colors. If you are adding a powder go <%= link_to "here", new_powder_path %>
      </p>
      <%= render 'form' %>
    </div>
  </div>
</div>
