.container
  .row
    .col-md-3
      %h1 New color
      %p.text-danger
        This is only for adding base colors. If you are adding a powder go #{link_to "here", new_powder_path}
      = render 'form'
