<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>
        <% if @customer %>
          <%= "New #{@customer.name} Work Order" %>
        <% else %>
          New Work Order
        <% end %>
      </h1>
    </div>
  </div>
  <hr class="mb-4">

  <%= render 'form' %>
</div>
