@import "jquery-ui";
@import "superfish";
@import "dataTables/jquery.dataTables";
@import "chosen";
@import "tether";
@import "bootstrap";
@import "font-awesome";
@import "style";
@import "unslider";
@import "powders";
@import "bootstrap-slider";

.contact{
  padding-top: 50px;
  padding-bottom: 50px;
}

.alert{
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 0;
}

.caption_button_2 .btn {
  margin-left: 10px;
}

.navbar-toggle{
  margin-left: 15px;
}

table.dataTable thead .sorting_desc {
  background-image: none;
}

table.dataTable thead .sorting_asc {
    background-image: none;
}

table.dataTable thead .sorting {
  background-image: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: none;
    background-color: none;
    background: none;
    background: none;
    background: none;
    background: none;
    background: none;
    background: none;
}

.quote_request_table{
  margin-top:20px;
}

.has-error{
  color: red;
}
