/*
 *= require jquery.ui.all
 *= require bootstrap
 *= require sb-admin
 *= require animations
 *= require font-awesome
 *= require font-awesome-ie7
 *= require graph
 *= require ie
 *= require nivo-slider
 *= require prettyPhoto
 *= require pricing-table
 *= require settings
 *= require style
 *= require spectrum
 *= require superfish
 *= require switcher
 *= require team-member
 *= require theme-responsive
 *= require colors/red
 *= require video-js
 *= require_self
 */

.contact{
  padding-top: 50px;
  padding-bottom: 50px;
}

.alert{
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 0;
}

.caption_button_2 .btn {
  margin-left: 10px;
}

.navbar-toggle{
  margin-left: 15px;
}