h3 {
  font-weight: 300;
}

h3 {
  margin-top: 0;
}

h2 {
  font-weight: 100;
}

.information h3 {
  color: #333333;
  font-weight: 200;
}

.information {
  background-color: white;
  padding-top: 10px;
  margin-top: 25px;
  border: solid 1px black;
}

.retro_contact{
  background: url('contact.png') no-repeat;
  height:69px;
  width:170px;
}

.retro_contact:hover{
  background: url('contact_hover.png') no-repeat;
  height:69px;
  width:170px;
}

.retro_contact:active{
  background: url('contact_pressed.png');
  height:69px;
  width:170px;
}

.retro_submit{
  background: url('submit.png') no-repeat;
  height:69px;
  width:170px;
}

.retro_submit:hover{
  background: url('submit_hover.png') no-repeat;
  height:69px;
  width:170px;
}

.retro_submit:active{
  background: url('submit_pressed.png');
  height:69px;
  width:170px;
}