.activity-feed {
  background-color: #d3d3d3;
  margin-top: -60px;
  max-height: 45px;
  max-width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 10px 0;
  white-space: nowrap;
}

.btn-production-stage {
  margin-top: 2rem;
}

.production-stage-status {
  &:hover {
    @extend .bg-success;
    color: #ffffff !important;
  }
}

.production-stage-status-warning {
  &:hover {
    @extend .bg-warning;
    color: #ffffff !important;
  }
}

.work-order-customer-name {
  font-weight: bold;
}
