<!-- Footer Start -->
<footer>
   <!-- Footer Top Start -->
   <div class="footer-top">
      <div class="container">
         <div class="row">
            <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-one">
               <h3>ABOUT</h3>
               <p>
                  At Columbus Powder Coat we pride ourselves on high quality finishes, world class service, and a fast turnaround. (<%= link_to 'more', page_path('about'), target: '_blank' %>)
               </p>
            </section>
            <section class="col-lg-7 col-md-7 col-xs-12 col-sm-7 footer-two">
              <h3>CONTACT US</h3>
              <ul class="contact-us">
                <li>
                   <p class="mb-1">
                      <span><i class="icon-map-marker"></i> Address: </span> 876 North Twentieth Street,
                      Columbus, Ohio 43219
                   </p>
                </li>
                <li>
                   <p class="mb-1">
                     <span><i class="icon-phone"></i> Phone: </span> <a href="tel:+16143005025">614-300-5025</a>
                   </p>
                </li>
                <li>
                   <p>
                     <span> <i class="icon-envelope-alt"></i> Email: </span><a href="mailto:contact@columbuspowdercoat.com"> contact@columbuspowdercoat.com</a>
                   </p>
                </li>
              </ul>
            </section>
            <section class="col-lg-2 col-md-2 col-sm-2 footer-three">
              <% if current_user %>
                <%= link_to "Sign out", destroy_user_session_path %>
              <% else %>
                <%= link_to "Sign In", new_user_session_path %>
              <% end %>
            </section>
         </div>
      </div>
   </div>
   <!-- Footer Top End -->
   <!-- Footer Bottom Start -->
   <div class="footer-bottom">
      <div class="container">
         <div class="row">
            <div class="col-12 text-center"> &copy; <%= Date.today.year %> by <a href="/">Columbus Powder Coat</a>. All Rights Reserved. </div>
         </div>
      </div>
   </div>
   <!-- Footer Bottom End -->
</footer>
